body, html {
    background: #000;
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding:0;
    margin:0;
}
#canvas {
  padding:0;
  display:block;
  margin:0 auto;
  width: 100%;
}
#W{
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-weight:100;
  color:#fff;
  text-align:center;
  line-height:400px;
  font-size:100px;
  width:100%;
  height:400;
  position:absolute;
  z-index:999;
  top:0;
  left:0;
}

#fps { 
  font-family:'Helvetica Neue',Arial,sans-serif;
  font-weight:100;
  width:100px;
  height:30px; 
  position:fixed; 
  top:0;
  left:0;
  color:#fff;}